BasedOnStyle: LLVM
IndentWidth: 3
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 80  # No line wrapping
BreakBeforeBraces: Allman

# Indentation for continuation lines within braces
ContinuationIndentWidth: 3
AccessModifierOffset: -3
