BasedOnStyle: LLVM
IndentWidth: 3
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 0  # No line wrapping
BreakBeforeBraces: Allman

# Indentation for continuation lines within braces
ContinuationIndentWidth: 3
AccessModifierOffset: -3
